environment               = "staging"
region                    = "blr1"
kubernetes_version_prefix = "1.36."
node_size                  = "s-2vcpu-4gb"
node_min                   = 2
node_max                   = 4
database_version           = "16"
database_size              = "db-s-1vcpu-1gb"
database_nodes             = 1
vpc_ip_range               = "10.40.0.0/20"
